<div class="order_address">
<table class="address">
  <tr>
    <th>BILLING ADDRESS</th>
    <th>SHIPPING ADDRESS</th>
  </tr>
  <tr>
    <td>
      <div class="field"> 
        <%= f.text_field :bill_f_name, placeholder: "First name", size: 25, val: "first name" %>
      </div>
      <div class="field">
        <%= f.text_field :bill_l_name, placeholder: "Last name", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :bill_street, placeholder: "Street Address", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :bill_city, placeholder: "City", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :bill_country, placeholder: "Country", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :bill_zip, placeholder: "Zip", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :bill_phone, placeholder: "Phone", size: 25 %>
      </div>
      <div class="to_check">
      </div>
    </td>
    <td id = "shipping_add">
      <div class="field">  
        <%= f.text_field :ship_f_name, placeholder: "First name", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_l_name, placeholder: "Last name", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_street, placeholder: "Street Address", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_city, placeholder: "City", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_country, placeholder: "Country", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_zip, placeholder: "Zip", size: 25 %>
      </div>
      <div class="field">
        <%= f.text_field :ship_phone, placeholder: "Phone", size: 25 %>
      </div>
    </td>
    
  </tr>
</table>
  <div id = "same_address">  
    <div class="to_check">
      <%= f.check_box :checkbox_use_same_address, id: "checkbox_use_same_address", :checked => false %> Use Billing Address
    </div>
  </div>
</div>



