<h2>Confirm</h2>

<table id="confirm">
  <tr>
    <th>Shipping Address <%= f.submit "[edit]", :name => "address_button" %></th>
    <th>Billing Address <%= f.submit "[edit]", :name => "address_button" %></th>
    <th>Shipmenis <%= f.submit "[edit]", :name => "delivery_button" %></th>
    <th>Payment Information <%= f.submit "[edit]", :name => "payment_button" %>  </th>
  </tr>

  <td>
    <ul>
      <li><%= @checkout.ship_f_name %> <%= @checkout.ship_l_name %></li>
      <li><%= @checkout.ship_street %></li>
      <li><%= @checkout.ship_city %> <%= @checkout.ship_country %> <%= @checkout.ship_zip %></li>
      <li>Phone <%= @checkout.ship_phone %></li> 
    </ul>
  </td>
  
  <td>
    <ul>
      <li><%= @checkout.bill_f_name %> <%= @checkout.bill_l_name %></li>
      <li><%= @checkout.bill_street %></li>
      <li><%= @checkout.bill_city %> <%= @checkout.bill_country %> <%= @checkout.bill_zip %></li>
      <li>Phone <%= @checkout.bill_phone %></li>
    </ul>
  </td>
  
  <td>
    <ul>
      <li><%= @delivery.method %></li>  
    </ul>
  </td>
  
  <td>
    <ul>
      <li>**** **** **** <%= @checkout.card_number[-4,4] %></li>
      <li><%= @checkout.exp_month %>/<%= @checkout.exp_year %></li>
    </ul>
  </td>
</table>

<table class="cart">
  
  <th>BOOK</th>
  <th>PRICE</th>
  <th>QTY</th>
  <th>TOTAL</th>
  
  <% current_user.cart.line_items.each do |item| %>
  <tr>
    <td>
      <div class="cover">
        <%= image_tag(item.book.cover.url()) %>
      </div>
      <div class="book_info">
        <div class="book_title">
          <%= item.book.title %>
        </div>
        <div class = "desc">
          <%= item.book.description %>
        </div>
      </div>
    </td>
    <td>
      <%= item.book.price %>
    </td>
    <td>
      <%= item.quantity %>
    </td>
    <td>
      <%= item.book.price * item.quantity %>
    </td>
  </tr>
  <% end %>
</table>
<div class="order_total">
  <div>
    SUBTOTAL: $ <%= sub_total %>
  </div>
  <div>
   SHIPPING: $ <%= @delivery.price %>
  </div>
  <div>
    ORDER TOTAL: $ <%= @checkout.total_price %>
  </div>
</div>
<div class="dotted"></div>

