<h1>Credit CARD</h1>

<div class="field">  
  <%= f.text_field :card_number, placeholder: "Card Number", maxlength: 16, size: 20 %>
</div>
<div class="field">  
  <p>Expiration date: </p>
  <%= f.select :exp_month, "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>".html_safe %>
  <%= f.select :exp_year, "<option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option>".html_safe %>
</div>

<div class="field">  
  <%= f.text_field :card_code, placeholder: "Card Code", size: 8, maxlength: 4 %>
  <div id="CVV_info">
    <%= link_to "[Wat's this?]"%>
  </div>
</div>