<div class="checkout">
  <h1>Checkout</h1> 
  <%= form_for @checkout, url: {action: "create"} do |f| %>
    <div class="link_to_steps">
      <%= link_to "ADDRESS" %>
      <%= link_to "DELIVERY" %>
      <%= link_to "PAYMENT" %>
      <%= link_to "CONFIRM" %>
      <%= link_to "COMPLETE" %>
    </div>
  
  <% if @checkout.errors.any? %>
    <div id="error_explanation">
      <p>Please:</p>
      <ul>
      <% @checkout.errors.each do |attr,msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="steps">   
      <%= render "#{@checkout.current_step}", :f => f %>
      <p><%= f.submit "SAVE AND CONTINUE" %></p>
    </div>
    <div class = "order_sum">
      <% if @checkout.current_step == "payment"%>
        <h1>ORDER SUMMARY</h1>
        <p>ITEM TOTAL: $<%= sub_total %></p>
        <p>SHIPPING: $<%= @delivery.price %></p>
        <p>ORDER TOTAL: $<%= @checkout.total_price %></p>
      <% elsif @checkout.current_step == "confirm" %>
      <% else %>
        <h1>ORDER SUMMARY</h1>
        <p>ITEM TOTAL: $<%= sub_total %></p>
        <p>ORDER TOTAL: $<%= sub_total %></p>
      <% end %>
    </div>
  <% end %>
</div>