<div id="shopping">
  <ol class="breadcrumb">
    <li><%= link_to t(:home_page), root_path %></li>
    <li class="active"> <%= t(:shopping) %> </li>
  </ol>
  
  <div class="shop">
    <% @shopping.each do |book| %>
      <div id="shop_item">
        <div class="cover_item"> 
          <% if book.quantity == 0 %>
            <div class="sold_out_in_shop"></div>
          <% end %>
          <%= link_to image_tag(book.cover.url(:med)), book %>
        </div>
        <div class="title_item"> 
          <%= link_to book.title, book %>
        </div>
        <div class="price_item">
          <div class="boldy">$<%= book.price %></div>
        </div>
      </div>
    <% end %>
    <div id="pages">
      
    </div>
  </div>
  
  <div id="categories">
    <p><%= t(:categories) %></p>
    <ol class="links_cat">
      <% @categories_shop.each do |category| %>
        <li>
          <%= link_to category.title, category %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
