<div class="outside"> 
<div class="reviews">
  <div class="stars">
    <%= t(:rating)%>: <div class="grade"><%= @rating.grade %></div>
  </div>
  <div class="headline"><%= @rating.headline %></div>
  <div class="rev_create"><%= l(@rating.created_at, format: :short)%></div>
  <div class="author">
    <%=t(:by)%>
      <%=link_to @rating.author_name, book_rating_path(@rating.book.id, @rating.id) %>
  </div>
  <div class="rev_text"><%= @rating.review %></div>
</div>
  <%= link_to t(:to_book), book_path(params[:book_id]) %>
</div>