<div class="outside">
  
<div class="reviews">
  <div class="stars">
    Rating: <div class="grade"><%= @rating.grade %></div>
  </div>
  <div class="headline"><%= @rating.headline %></div>
  <div class="rev_create"><%= @rating.created_at.strftime("%B %d, %Y")%></div>
  <div class="author">
    by
    <% if !@rating.user.billing_address.first_name.blank? %>
      <%=link_to "#{@rating.user.billing_address.first_name} #{@rating.user.billing_address.last_name}" %>
    <% else %>
      <%=link_to @rating.user.email, book_rating_path(@rating.book.id, @rating.id) %>
    <% end %>
  </div>
  <div class="rev_text"><%= @rating.review %></div>
</div>
  <%= link_to 'Back to book', book_path(params[:book_id]) %>
</div>