<div class="naming"><%= t(:in_progress) %></div>
<table class="cart">
  <th><%= t(:book) %></th>
  <th><%= t(:price) %></th>
  <th><%= t(:qty) %></th>
  <th><%= t(:total) %></th>
  <%= render "orders_items", collection: @order.line_items %>
</table>
<div class="order_total">
  <div>
    <%= t(:subtotal)%>: <div class="boldy">$ <%= @order.total_price %></div>
  </div>
</div>