<div class="naming">in progress</div>
     <table class="cart">

        <th>BOOK</th>
        <th>PRICE</th>
        <th>QTY</th>
        <th>TOTAL</th>

        <% @order.line_items.each do |item| %>
          <tr>
            <td>
              <div class="cover">
                <%= image_tag(item.book.cover.url()) %>
              </div>
              <div class="book_info_in_cart">
                <div class="book_title">
                  <%= item.book.title %>
                </div>
                <div class = "desc">
                  <%= item.book.description %>
                </div>
              </div>
            </td>
            <td>
              <%= item.book.price %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
            <td>
              <%= item.book.price * item.quantity %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="order_total">
        <div>
          SUBTOTAL: <div class="boldy">$ <%= @orders.last.total_price %>
          </div>
        </div>
      </div>