<div class="checkout">
  <div class="back_orders">
    <%= link_to t(:to_orders), orders_path %>
  </div>
  <div class="head_of_order"><%= t(:order)%> <%= @order.number %></div><div class="delivery_meth"><%= @order.state %></div>
  
  <table class="cart">
  
    <th><%= t(:book) %></th>
    <th><%= t(:price) %></th>
    <th><%= t(:qty) %></th>
    <th><%= t(:total) %></th>
  
    <% @order.line_items.each do |item| %>
      <tr>
        <td>
          <div class="cover">
            <%= image_tag(item.book.cover.url()) %>
          </div>
          <div class="book_info_in_cart">
            <div class="book_title">
              <%= item.book.title %>
            </div>
            <div class = "desc">
              <%= item.book.description %>
            </div>
          </div>
        </td>
        <td>
          <%= item.book.price %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= item.book.price * item.quantity %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="order_total">
    <div>
      <%= t(:subtotal)%> : $ <%= @order.total_price - @order.delivery.price %>
    </div>
    <div>
     <%= t(:shipping) %>: $ <%= @order.delivery.price %>
    </div>
    <div>
      <%= t(:ord_total) %>: $ <%= @order.total_price %>
    </div>
  </div>
  <div class="dotted"></div>
</div>

