
<div class="checkout">
  <div class="back_orders">
    <%= link_to '<< Back to orders', orders_path %>
  </div>
  <div class="head_of_order">Order <%= @order.number %></div><div class="delivery_meth"><%= @order.state %></div>
  
  <table class="cart">
  
    <th>BOOK</th>
    <th>PRICE</th>
    <th>QTY</th>
    <th>TOTAL</th>
  
    <% @order.line_items.each do |item| %>
      <tr>
        <td>
          <div class="cover">
            <%= image_tag(item.book.cover.url()) %>
          </div>
          <div class="book_info">
            <div class="book_title">
              <%= item.book.title %>
            </div>
            <div class = "desc">
              <%= item.book.description %>
            </div>
          </div>
        </td>
        <td>
          <%= item.book.price %>
        </td>
        <td>
          <%= item.quantity %>
        </td>
        <td>
          <%= item.book.price * item.quantity %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="order_total">
    <div>
      SUBTOTAL: $ <%= @order.total_price %>
    </div>
    <div>
      SHIPPING: $ <%= @order.delivery.price %>
    </div>
    <div>
      ORDER TOTAL: $ <%= @order.total_price + @order.delivery.price %>
    </div>
  </div>
  <div class="dotted"></div>

</div>

