<div class="outside">
  <div id = "win">
    <div class="title">
      <%= @book.title %> <%= t(:by) %> 
      <div>
        <%= link_to @book.authors_link, author_path(@book.author.id) %>
      </div>
    </div>
    <div class="cover">
      <%= link_to image_tag(@book.cover.url(:med)), @book.cover.url %>
    </div>
    <div class="price">
      <div class="boldy">$<%= @book.price %></div>
    </div>
    <div class = "add_book">
      <% if @book.quantity == 0 %>
        <div class="sold_out_show"></div>
      <% else %>
        <%= form_tag(line_items_path(book_id: @book), method: 'post') do %>
        <%= number_field_tag(:new_quantity, 1, in: 1..@book.quantity, step: 1, :style => "width: 50px;") %>
        <%= submit_tag(t( :add_to_cart )) %>
        <% end %>
      <% end %>
    </div>
    <div class="desc">
      <%= @book.description %>
    </div>
  </div>
  <div class="rev">
    <div class="rev_wrap">
      <div><%= t(:reviews) %></div> 
      <%= link_to t( :add_review ), new_book_rating_path(@book.id) %>
    </div>
    <div class="reviews">
      <ul>
        <% @ratings.each do |rat| %>
        <li>
          <div class="stars">
            <%= t(:rating)%>: <div class="grade"><%= rat.grade %></div>
          </div>
          <div class="headline"><%= rat.headline %></div>        
          <div class="rev_create"><%= l(rat.created_at, format: :long)%></div>
          <div class="author">
            <%= t(:by)%>
            <%= link_to rat.author_name, book_rating_path(rat.book.id, rat.id) %>
          </div>
          <div class="rev_text"><%= rat.review %></div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>