<div class="outside">
  <div id = "win">
    <div class="title">
      <%= @book.title %>
    </div>
    <div class="cover">
      <%= link_to image_tag(@book.cover.url(:med)), @book.cover.url %>
    </div>
    <div class="price">
      <div class="boldy">$<%= @book.price %></div>
    </div>
    <div class = "add_book">
      <% if user_signed_in? && !current_user.guest %>
        <% if @book.quantity == 0 %>
          <div class="sold_out_show"></div>
        <% else %>
          <%= form_tag(cart_line_items_path(book_id: @book, cart_id: current_user.id), method: 'post') do %>
          <%= number_field_tag(:new_quantity, 1, in: 1..@book.quantity, step: 1, :style => "width: 50px;") %>
          <%= submit_tag( "ADD TO CART" ) %>
          <% end %>
        <% end %>
      <% else %>
        <%= button_to 'ADD TO CART', new_user_session_path %>
      <% end %>
    </div>
    <div class="desc">
      <%= @book.description %>
    </div>
  </div>
  <div class="rev">
    <div class="rev_wrap">
      <div>Reviews</div> 
      <%= link_to 'Add review for this book', new_book_rating_path(@book.id) %>
    </div>
    <div class="reviews">
      <ul>
        <% @book.ratings.each do |rat| %>
        <li>
          <div class="stars">
            Rating: <div class="grade"><%= rat.grade %></div>
          </div>
          <div class="headline"><%= rat.headline %></div>
          <div class="rev_create"><%= rat.created_at.strftime("%B %d, %Y")%></div>
          <div class="author">
            by
            <% if !rat.user.billing_address.first_name.blank? %>
              <%=link_to "#{rat.user.billing_address.first_name} #{rat.user.billing_address.last_name}" %>
            <% else %>
              <%=link_to rat.user.email, book_rating_path(@book.id, rat.id) %>
            <% end %>
          </div>
          <div class="rev_text"><%= rat.review %></div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>