<div class="checkout">
  <table class = "cart">

    <th><%= t(:book) %></th>
    <th><%= t(:price) %></th>
    <th><%= t(:qty) %></th>
    <th><%= t(:total) %></th>

    <% current_user.cart.line_items.each do |item| %>
    <tr>
      <td>
        <div class="cover">
          <%= image_tag(item.book.cover.url()) %>
        </div>
        <div class="book_info_in_cart">
          <div class="book_title">
            <%= item.book.title %>
          </div>
          <div class = "desc">
            <%= item.book.description %>
          </div>
        </div>
      </td>
      <td>
        <%= item.book.price %>
      </td>
      <td>
        <div class = "update">
          <%= form_tag(cart_line_item_path(id: item.id,cart_id: @cart.id), method: :put) do %>
          <%= number_field_tag(:new_quantity, item.quantity, in: 1..item.book.quantity, step: 1, :style => "width: 50px;") %>
            <div class="update">
              <%= submit_tag( t(:update) ) %>
            </div>
          <% end %>
        </div>
      </td>
      <td>
        <%= item.book.price * item.quantity %>
      </td>
      <td>
        <%= link_to 'X', cart_line_item_path(cart_id: @cart.id, id: item.id), method: :delete,  :style => "color: #000" %>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="sub_total">
    <%= t(:subtotal)%> : <div class="boldy">$ <%= sub_total %></div>
  </div>

  <div class="before_order">
    <div class="left_buttons">
      <div><%= button_to t(:empty_cart), cart_path, method: :delete %></div>
      <div><%= button_to t(:continue_shop), shopping_path, method: :get %></div>
    </div>
    <div class="right_buttons">
      <div><%= text_field_tag :coupon, t(:coupon), :style => "width: 100px;"  %></div>
      <div><%= button_to t(:checkout), checkout_path(session[:last_step]), method: :get %></div>
    </div>
  </div>
</div>
