<div class = "in_center">
  <p>
    <%= link_to(image_tag("http://res.cloudinary.com/nmetau/image/upload/c_scale,h_64,w_64/v1465912336/1465930217_facebook_oeresm.png"), omniauth_authorize_path(resource_name,:facebook)) %>
  </p>
  <p>or</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>

  <% end %>

  <div class="linking"> Don't have an account? <%= render "devise/shared/links" %></div>
</div>

