<div class="checkout">
  <div class="checkout_errors">
    <% if params[:commit] == "SAVE AND CONTINUE" %>
      <%= checkout_errors_message(@checkout)  %>
    <% end %>
  </div>
  <h1><%= t(:checkout) %></h1>
  <div class="link_to_steps">
      <div class="current_step"><%= link_to t(:address), checkout_path(:address), method: :get %></div> 
      <div><%= link_to t(:delivery), checkout_path(:delivery), method: :get %></div>
      <div><%= link_to t(:payment), checkout_path(:payment), method: :get %></div>
      <div><%= link_to t(:confirm), checkout_path(:confirm), method: :get %></div>
      <div><%= t(:complete) %></div>
  </div>
  <%= form_for Checkout.new, url: checkout_path(:delivery), method: :get do |f| %> 
    <%= f.hidden_field :current_step, value: session[:last_step] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="order_address">
      <table class="address">
        <tr>
          <th><%= t(:bill_address)%></th>
          <th><%= t(:ship_address)%></th>
        </tr>
        <tr>
          <td>
            <div class="checking_field">
            </div>
            <div class="field">  
              <%= f.text_field :bill_f_name, size: 25, placeholder: t(:first_name), value: bill_first_name_value %> 
            </div>
            <div class="field">
              <%= f.text_field :bill_l_name, placeholder: t(:last_name), size: 25, value: bill_last_name_value %>
            </div>
            <div class="field">
              <%= f.text_field :bill_street, value: bill_street_value, placeholder: t(:street_address), size: 25 %>
            </div>
            <div class="field">
              <%= f.text_field :bill_city, value: bill_city_value, placeholder: t(:city), size: 25 %>
            </div>
            <div class="field"> 
              <%= f.text_field :bill_country, value: bill_country_value, placeholder: t(:country), size: 25 %>
            </div>
            <div class="field">
              <%= f.text_field :bill_zip, value: bill_zip_value, placeholder: t(:zip), size: 25 %>
            </div>
            <div class="field">
              <%= f.text_field :bill_phone, value: bill_phone_value, placeholder: t(:phone), size: 25 %>
            </div>
          </td>
          <td>          
            <div class="checking_field">
              <%= f.check_box :same_address, id: "checkbox_use_same_address", value: "1", checked: true %> <%= t(:same_address)%>
            </div>
            <div id = "shipping_add">
              <div class="field">
                <%= f.text_field :ship_f_name, value: ship_first_name_value, placeholder: t(:first_name), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_l_name, value: ship_last_name_value, placeholder: t(:last_name), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_street, value: ship_street_value, placeholder: t(:street_address), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_city, value: ship_city_value, placeholder: t(:city), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_country, value: ship_country_value, placeholder: t(:country), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_zip, value: ship_zip_value, placeholder: t(:zip), size: 25 %>
              </div>
              <div class="field">
                <%= f.text_field :ship_phone, value: ship_phone_value, placeholder: t(:phone), size: 25 %>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="actions">
      <%= f.submit t(:save_continue) %>
    </div>
  <% end %>
  <div class = "order_sum">
    <h1><%= t(:ord_summary)%></h1>
    <p><%= t(:item_total)%>: $<%= sub_total %></p>
    <p><%= t(:ord_total)%>: $<%= sub_total_with_discount %></p>
  </div>
</div>