<div class="checkout">
  <h1>Checkout</h1>

  <div class="link_to_steps">
      <div class="step_visit"><%= link_to "ADDRESS", checkout_path(:address), method: :get %></div> 
      <div class="step_visit"><%= link_to "DELIVERY", checkout_path(:delivery), method: :get %></div>
      <div class="current_step"><%= link_to "PAYMENT", checkout_path(:payment), method: :get %></div>
      <div><%= link_to "CONFIRM", checkout_path(:confirm), method: :get %></div>
      <div>COMPLETE</div>
  </div>
  
  <h3>CREDIT CARD</h3>
  <%= form_for @checkout, url: checkout_path(:confirm), method: :get do |f| %>
    <div class="field">  
      <%= f.text_field :card_number, placeholder: "Card Number", maxlength: 16, size: 20 %>
    </div>
    <div class="field">  
      <p>Expiration date: </p>
      <%= f.select :exp_month, "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>".html_safe %>
      <%= f.select :exp_year, "<option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option><option>2025</option>".html_safe %>
    </div>

    <div class="field">  
      <%= f.text_field :card_code, placeholder: "Card Code", size: 8, maxlength: 4 %>
      <div id="CVV_info">
        <p>[Wat's this?]</p>
        <div class="what_cvv">The CVV Number ("Card Verification Value") on your credit card or debit card is a 3 digit number on VISA速, MasterCard速 and Discover速 branded credit and debit cards. On your American Express速 branded credit or debit card it is a 4 digit numeric code.</div>
      </div>  
    </div>

    <div class="actions">
      <%= f.submit "Continue" %>
    </div>
  <% end %>
  
  <div class = "order_sum">
    <h1>ORDER SUMMARY</h1>
    <p>ITEM TOTAL: $<%= @checkout.books_price %></p>
    <p>SHIPPING: $<%= @checkout.get_delivery.price %></p>
    <p>ORDER TOTAL: $<%= @checkout.total_price %></p>
  </div>
</div>









