<p>SHOW!!!</p>


<%= form_for @checkout do |f| %>
  <%= f.label :bill_f_name, 'First Name' %>:
  <%= f.text_field :bill_f_name %>

  <%= f.label :bill_l_name, 'Last Name' %>:
  <%= f.text_field :bill_l_name %>

  <%= f.submit %>
<% end %>