<table class="address">
  <tr>
    <th>Billing address</th>
    <th>Shipping address</th>
  </tr>
  <tr>
    <td>
      <%= form_tag(current_user.billing_address(id: current_user.billing_address.id), method: :put) do %> 
        <div class="field">
          Firstname<br>
          <%= text_field_tag :first_name, current_user.billing_address.first_name %>
        </div>
        <div class="field">
          Lastname<br>
          <%= text_field_tag :last_name, current_user.billing_address.last_name %>
        </div>
        <div class="field">
          Street<br>
          <%= text_field_tag :street, current_user.billing_address.street %> 
        </div>
        <div class="field">
          City<br>
          <%= text_field_tag :city, current_user.billing_address.city %>
        </div>
        <div class="field">
          Country<br>
          <%= text_field_tag :country, current_user.billing_address.country %>
        </div>
        <div class="field">
          Zip<br>
          <%= text_field_tag :zip, current_user.billing_address.zip %>
        </div>
        <div class="update">
          <%= submit_tag( "SAVE" ) %>
        </div>
      <% end %>
    </td>
    
    <td>
    
      <table>
          <%= form_tag(current_user.shipping_address(id: current_user.shipping_address.id), method: :put) do %>
          <p><%= check_box_tag :checkbox_use_same_address %> Use Billing Address</p>
          <tr id="shipping">
            <div class="field">
              Firstname<br>
              <%= text_field_tag :first_name, current_user.shipping_address.first_name %>
            </div>
            <div class="field">
              Lastname<br>
              <%= text_field_tag :last_name, current_user.shipping_address.last_name %>
            </div>
            <div class="field">
              Street<br>
              <%= text_field_tag :street, current_user.shipping_address.street %>
            </div>
            <div class="field">
              City<br>
              <%= text_field_tag :city, current_user.shipping_address.city %>
            </div>
            <div class="field">
              Country<br>
              <%= text_field_tag :country, current_user.shipping_address.country %>
            </div>
            <div class="field">
              Zip<br>
              <%= text_field_tag :zip, current_user.shipping_address.zip %>
            </div>
          </tr>
          <tr>
              <div class="update">
                <%= submit_tag( "SAVE" ) %>
              </div>
        </tr>
          <% end %>
      </table> 
    </td>
  </tr>
</table>

  

