<table class="address">
  <tr>
    <th>Billing address</th>
    <th>Shipping address</th>
  </tr>
  <tr>
    <td>
      <%= form_tag(current_user.billing_address(id: current_user.billing_address.id), method: :put) do %> 
        <div class="field">
          <%= text_field_tag :first_name, current_user.billing_address.first_name, placeholder: "First name" %>
        </div>
        <div class="field">
          <%= text_field_tag :last_name, current_user.billing_address.last_name, placeholder: "Last name" %>
        </div>
        <div class="field">
          <%= text_field_tag :street, current_user.billing_address.street, placeholder: "Street Address" %> 
        </div>
        <div class="field">
          <%= text_field_tag :city, current_user.billing_address.city, placeholder: "City" %>
        </div>
        <div class="field">
          <%= text_field_tag :country, current_user.billing_address.country, placeholder: "Country" %>
        </div>
        <div class="field">
          <%= text_field_tag :zip, current_user.billing_address.zip, placeholder: "Zip" %>
        </div>
        <div class="field">
          <%= text_field_tag :phone, current_user.billing_address.phone, placeholder: "Phone" %>
        </div>
        <div class="update">
          <%= submit_tag( "SAVE" ) %>
        </div>
      <% end %>
    </td>
    
    <td>
    
      <table>
          <%= form_tag(current_user.shipping_address(id: current_user.shipping_address.id), method: :put) do %>
          <tr id="shipping">
            <div class="field">
              <%= text_field_tag :first_name, current_user.shipping_address.first_name, placeholder: "First name" %>
            </div>
            <div class="field">
              <%= text_field_tag :last_name, current_user.shipping_address.last_name, placeholder: "Last name" %>
            </div>
            <div class="field">
              <%= text_field_tag :street, current_user.shipping_address.street, placeholder: "Street Address" %>
            </div>
            <div class="field">
              <%= text_field_tag :city, current_user.shipping_address.city, placeholder: "City" %>
            </div>
            <div class="field">
              <%= text_field_tag :country, current_user.shipping_address.country, placeholder: "Country" %>
            </div>
            <div class="field">
              <%= text_field_tag :zip, current_user.shipping_address.zip, placeholder: "Zip" %>
            </div>
            <div class="field">
              <%= text_field_tag :phone, current_user.shipping_address.phone, placeholder: "Phone" %>
            </div>
          </tr>
          <tr>
              <div class="update">
                <%= submit_tag( "SAVE" ) %>
              </div>
        </tr>
        
          <% end %>
      </table> 
    </td>
  </tr>
</table>

  

