<p id="notice"><%= notice %></p>

<div id = "space"></div>

<ol class="breadcrumb">
  <li><%= link_to "Home", root_path%></li>
  <li><%= link_to "Shop", shopping_path %></li>
  <li class="active"><%= @category.title %></li>
</ol>

<div id="shopping">
  <div id="shop">  
    <% @category.books.each do |book|  %>
      <div id="shop_item">
        <div class="cover_item">  
          <%= link_to book do %>
          <p>image cover</p>
          <% end %>
        </div>
        <div class="title_item">  
          <%= link_to book.title, book %>
        </div>
        <div class="price_item">
          <%= book.price %>
        </div>
      </div>
    <% end %>
    <div id="pages">
      
    </div>
  </div>
  <div id="categories">
    <p>Shop by categories</p>
    <ol>
      <% Category.all.each do |category| %>
        <li>
          <%= link_to category.title, category %>
        </li>
      <% end %>
    </ol>
  </div>
</div>
