<div class="in_center">
  <p>
    <%= link_to(image_tag("http://res.cloudinary.com/nmetau/image/upload/c_scale,h_64,w_64/v1465912336/1465930217_facebook_oeresm.png"), omniauth_authorize_path(resource_name, :facebook)) %>
  </p>
  <p><%= t(:or)%></p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div>
      <%= f.label t(:email) %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div>
      <%= f.label t(:password) %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label t(:password_confirmation) %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit t(:sign_up)%>
    </div>
  <% end %>

  <div class="linking"><%= t(:have_account)%> <%= render "users/shared/links" %></div>
</div>